.button {

  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    font-size: 1.15rem;
    padding: 1.2rem 2.2rem;
    text-decoration: none;
    background-color: $color-primary-light;
    color: $color-text-light;
    display: inline-block;
  }

  &:hover {
    background-color: $color-primary-dark;
  }
}