// Colors
$color-primary-dark: #0F7D3F;
$color-primary-light: #18C965;

// Text-colors
$color-text-dark: #404040;
$color-text-light: #f9f7f6;

// Background-colors
$color-background: #f9f7f6;

// Other colors
$color-grey: #aaa;
$color-black: #000;